
.savings {
  width: 300px;
  height: 154px;
  font-size: 40px;
  line-height: 50px;
  padding-top: 20px;
  padding-left: 15px;
  text-align: center;

  .quantity {
    width: 180px;
    border-bottom: none;
    margin: 0px;
  }

  .quantity span {
    position: relative;
    top: -15px;
    font-size: 20px;
  }
}

.mobile .savings {
  width: 640px;
  height: 276px;
  font-size: 80px;
  line-height: 80px;
  padding-top: 40px;
  padding-left: 0;

  .quantity {
    width: 100%;
    border-bottom: none;

    span {
      position: relative;
      top: -30px;
      font-size: 40px;
    }
  }
}
